.main {
  width: 78vw;
  display: flex;

  justify-content: space-evenly;
}

@media (max-width: 900px) {
  .main {
    width: 97vw;
  }
}

.tickets {
  min-width: 52vw;
  margin-left: var(--f20);
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .main > form {
    width: calc(97vw - var(--f20));
    margin: var(--f20);
  }
}
