.main {
  width: 78vw;
  display: flex;

  justify-content: space-evenly;
}

@media (max-width: 800px) {
  .main {
    width: 99vw;
  }
}

.tickets {
  min-width: 52vw;
  margin: 0 var(--f10);
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .main > form {
    width: calc(99vw - var(--f20));
    margin: var(--f10);
  }
}
